body {
	background-image: url("https://st2.depositphotos.com/1003595/8019/v/950/depositphotos_80190434-stock-illustration-light-gray-padlocks-wallpaper.jpg");
	text-align: center;
	background-color: white;
	color: #424242;
	font-family: Georgia;
	font-size: 30px;
	font-weight: 400;
	width: 100vw;
	font-style: Georgia;
}
Button {
	font-style: Georgia;
	border: 10px;
	background-color: #FAFAFA;
	padding: 20px;
	font-size: 20px;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 3px 2px 1px #FFFF00;
	-webkit-box-shadow: 6px 5px 24px #FAFAFA;
	-moz-box-shadow: 6px 5px 24px #FAFAFA;
	box-shadow: 6px 5px 24px #666666;
	background-image: -webkit-linear-gradient(top, #eb94d0, #FAFAFA);
	background-image: -moz-linear-gradient(top, #eb94d0, #FAFAFA);
	background-image: -ms-linear-gradient(top, #eb94d0, #FAFAFA);
	background-image: -o-linear-gradient(top, #eb94d0, #FAFAFA);
	background-image: linear-gradient(to bottom, #FAFAFA, #616161);
}
input {
	padding: 30px;
	text-align: center;
	margin: auto;
	width: 50%;
}
